/* Universal Style */
* {
    max-width: 1600px;
    margin: 0;
    box-sizing: border-box;
}


.font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Shared Style */

.flex {
    display: flex;
    align-items: center;
}

.theme {
    background-color: rgba(26, 11, 46, 1);
}

.wt {
    color: white;
}

.bg-clr {
    background-color: rgba(35, 14, 61, 1);
}

.clr {
    background: linear-gradient(45deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    color: transparent;
}

.clr2 {
    color: linear-gradient(45deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
}

.btn {
    background: linear-gradient(45deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    border-radius: 10000px;
    color: white;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.btn span {
    transition: color 2s ease;
}

.btn:hover span {
    color: #00FF88;
}

.btn-clr {
    color: white;
    padding: 12.5px 16px;
    font-size: 1rem;
    font-weight: 600;
    gap: 7px;
    justify-content: center;
    align-items: center;
}

hr {
    max-width: 1200px;
    margin: 0 auto;
}

/* Navbar */

.navbar {
    max-width: 1200px;
    justify-content: space-between;
    margin: 0px auto;
    padding: 30px;
}

.navbar h3 {
    color: white;
    font-size: 2rem;
    font-weight: 800;
    cursor: pointer;
}

.navbar ul {
    gap: 32px;
}

.navbar li:hover {
    color: #00FF88;
}

.navbar li {
    list-style: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}


/* Banner */

.banner {
    height: 85vh;
    background: url(Images/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner-container {
    position: relative;
    text-align: center;
}

.circle-container {
    position: relative;
    display: inline-block;
}

.badge {
    background-color: #00FF88;
    color: #1A0B2E;
    position: absolute;
    top: 10px;
    right: 25px;
    border-radius: 10000px;
    z-index: 2;
    padding: 12.5px 16px;
}


.circle {
    height: 350px;
    width: 350px;
    background: url(Images/hero-circle.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.mic {
    width: 110px;
    position: absolute;
}

.banner-text {
    position: relative;
    top: 50px;
}

.banner-text h2 {
    font-size: 4rem;
    margin-bottom: 8px;
}

.banner-text p {
    margin-bottom: 24px;
}

.buttons {
    justify-content: center;
    gap: 8px;
}

.transparent {
    background: transparent;
    border-radius: 10000px;
    color: white;
    justify-content: center;
    align-items: center;
    border: 1px solid #00FF88;
}

.btn-clr-tr {
    color: #00FF88;
    padding: 12.5px 16px;
    font-size: 1rem;
    font-weight: 600;
    gap: 7px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* About Podcast */

.About-Podcast {
    background-color: rgba(26, 11, 46, 1);
}

.About-Podcast {
    justify-content: center;
    text-align: center;
}

.description {
    color: white;
    margin-bottom: 80px;
}

.description h2 {
    font-size: 3rem;
    font-weight: 700;
    padding-top: 50px;
    margin-bottom: 16px;
}

.description .p1 {
    font-size: 1rem;
    padding-bottom: 20px;
    line-height: 20px;
    max-width: 700px;
    margin: 0 auto;
}

.description .p2 {
    font-size: 1rem;
    margin-bottom: 16px;
    line-height: 20px;
}

.rating {
    color: white;
    justify-content: center;
    gap: 80px;
    margin-top: 80px;
    padding-bottom: 120px;
}

.rating .rate {
    width: 240px;
}

.rate .rate-no {
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}

.rate .rate-type {
    line-height: 20px;
    font-weight: 400;
}


/* Why Choose */

.reason {
    padding: 120px;
}

.reason h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 240px);
    grid-template-columns: repeat(3, 380px);
    gap: 30px;
    justify-content: center;
}

.container .grid {
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.two-row {
    grid-row: span 2;
}

.two-column {
    grid-column: span 2;
}

.grid .grid-head {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 16px 0;
}

.grid-text {
    font-size: 16px;
    line-height: 24px;
}

/* Featured */
.featured {
    padding: 120px;
    background-color: rgba(26, 11, 46, 1);
}

.featured h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.card-container {
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.video {
    position: relative;
    height: 50%;
}

.video iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.card {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 30px;
}

.context {
    padding: 40px;
}

.card-head {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 12px;
}

.card-txt {
    line-height: 24px;
    margin-bottom: 12px;
}

.time {
    gap: 10px;
}

.host {
    text-align: left;
    background-color: rgba(53, 17, 101, 0.4);
    max-width: 1200px;
    border-radius: 30px;
    padding: 40px;
    gap: 24px;
    margin: 0 auto;
}

.host-img {
    margin-right: 24px;
}

.host h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.host p {
    line-height: 24px;
    margin-bottom: 16px;
}

.logo {
    gap: 10px;
    align-items: center;
}

.logo img {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

/* Footer */

footer {
    /* background-image: url(Images/footer-bg.png); */
    background: url(Images/footer-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 120px;
    color: white;
}

footer h1 {
    font-size: 3.5rem;
    margin-bottom: 32px;
}

.socials {
    justify-content: center;
    gap: 40px;
}

.social {
    gap: 10px;
    font-weight: 500;
    margin-bottom: 32px;
    cursor: pointer;
}

.social:hover {
    color: #00FF88;
}

.hide {
    display: none;
}

/* Responsive Design */

@media screen and (max-width:576px) {

    .nav-links,
    .nav-btn {
        display: none;
    }

    .hamburger {
        display: block;
        color: white;
    }

    .banner {
        height: auto;
        padding: 100px 16px 120px;
        display: flex;
        justify-content: center;
    }

    .banner-container {
        width: 100%;
    }

    .circle-container {
        margin: 0 auto;
        width: 200px;
    }

    .badge {
        top: 6px;
        right: 6px;
        padding: 7.5px 9px;
    }

    .circle {
        width: 200px;
        height: 200px;
    }

    .mic {
        width: 70px;
    }

    .banner-text {
        top: 0;
        padding: 0 10px;
        margin-top: 36px;
    }

    .banner-text h2 {
        font-size: 2.5rem;
    }

    .banner-text p {
        font-size: 1rem;
    }

    .buttons {
        gap: 12px;
    }

    .btn,
    .transparent {
        width: 100%;
        justify-content: center;
    }

    .rating {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .rating .rate {
        width: auto;
    }

    .reason,
    .featured,
    footer {
        padding: 40px 20px;
    }

    .reason h2 {
        font-size: 2rem;
    }

    .container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        align-items: normal;
    }

    .two-row {
        grid-row: auto;
    }

    .two-column {
        grid-column: auto;
    }

    .container .grid {
        border-radius: 40px;
    }

    .description .p1 {
        margin-bottom: 10px;
    }

    .host-container {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        justify-content: center;
    }

    .card-container {
        display: grid;
    }

    footer {
        width: 100%;
    }

    footer h1 {
        font-size: 2rem;
        margin-bottom: 32px;
    }

    .socials {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .social {
        margin-bottom: 10px;
        justify-content: center;
    }
}