/* Universal Style */
* {
    max-width: 1600px;
    margin: 0;
}


.font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Shared Style */

.flex {
    display: flex;
    align-items: center;
}

.theme {
    background-color: rgba(26, 11, 46, 1);
}

.clr {
    background: linear-gradient(45deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
}

.btn {
    background: linear-gradient(45deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    border-radius: 10000px;
    color: white;
    justify-content: center;
    align-items: center;
    border: none;
}

.btn-clr {
    color: white;
    padding: 12.5px 16px;
    font-size: 1rem;
    font-weight: 600;
    gap: 7px;
    justify-content: center;
    align-items: center;
}

hr{
    max-width: 1200px;
    margin: 0 auto;
}

/* Navbar */

.navbar {
    max-width: 1200px;
    justify-content: space-between;
    margin: 0px auto;
    padding: 30px;
}

.navbar h3 {
    color: white;
    font-size: 2rem;
    font-weight: 800;
}

.navbar ul {
    gap: 32px;
}

.navbar li {
    list-style: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}


/* About Podcast */

.About-Podcast{
    background-color: rgba(26, 11, 46, 1);
}

.About-Podcast{
    justify-content: center;
    text-align: center;
}

.description{
    color: white;
    margin-bottom: 80px;
}

.description h2{
    font-size: 3rem;
    font-weight: 700;
    padding-top: 50px;
    margin-bottom: 16px;
}

.description .p1{
    font-size: 1rem;
    margin-bottom: 16px;
    line-height: 20px;
}

.description .p2{
    font-size: 1rem;
    margin-bottom: 16px;
    line-height: 20px;
}

.rating{
    color: white;
    justify-content: center;
    gap: 80px;
    margin-top: 80px;
    padding-bottom: 120px;
}

.rating .rate{
    width: 240px;
}

.rate .rate-no{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}

.rate .rate-type{
    line-height: 20px;
    font-weight: 400;
}
